* {
    box-sizing:border-box;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

}
#clear{
    grid-row: span 2;
}
#delete{
    grid-row: span 1;
}
button{
    border-radius: 5px;
    border:2px solid black;
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(233, 237, 174);
    color: rgb(235, 14, 14);
    transform: scale(1.0);
    border: 2px solid rgb(193, 223, 19);
    box-shadow: 10px 10px 20px rgba(24, 9, 235, 0.2);
}
button:focus{
        outline: 3px solid #e4e439f2;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
section.calculator{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 5px 5px 10px rosybrown;
}
section.history{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 5px 5px 10px rosybrown;
}

.calculator{
    width: 400px;
    max-width: 100%;
}
