.b{
    height: 100px;
    width: 100%;
    max-width: 600px;
    padding: 10px;

}

.normal{
    border:2px solid saddlebrown;
    margin-bottom: 20px;
    background: yellow;
}
.special{
    border-left: 5px dotted rebeccapurple ;
    border-top: 5px dashed red;
    border-right: 5px solid black;
    border-bottom: 5px solid rgb(51, 8, 223);
    background: pink;

}